name: Unit Tests

on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"

      - name: Restore
        run: dotnet restore GalacticDelivery.sln

      - name: Test
        run: dotnet test GalacticDelivery.Test/GalacticDelivery.Test.csproj --configuration Release --no-restore
